In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('Car.csv')
df.head()

   Age  Income  Car
0   28   37000    0
1   27   88000    0
2   28   59000    0
3   32   86000    0
4   33  149000    1

In [3]:
x= df[['Age', 'Income']]
y=df[['Car']]
df

    Age  Income  Car
0    28   37000    0
1    27   88000    0
2    28   59000    0
3    32   86000    0
4    33  149000    1
..  ...     ...  ...
95   28   89000    0
96   34   43000    0
97   30   79000    0
98   20   36000    0
99   26   80000    0

[100 rows x 3 columns]

In [5]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size=0.2, random_state=0)
print(x_train)
print(y_train)
print(x_test)
print(y_test)

    Age  Income
43   35   59000
62   25   90000
3    32   86000
71   21   88000
45   34   25000
..  ...     ...
96   34   43000
67   22   55000
64   35   38000
47   27   96000
44   30   89000

[80 rows x 2 columns]
    Car
43    0
62    0
3     0
71    0
45    0
..  ...
96    0
67    0
64    0
47    1
44    0

[80 rows x 1 columns]
    Age  Income
26   39   61000
86   31   66000
2    28   59000
55   40   47000
75   34   72000
93   29   43000
16   40   57000
73   26  118000
54   36   50000
95   28   89000
53   31   76000
92   19   26000
78   25   22000
13   38   61000
7    26   35000
30   26   84000
22   37   72000
24   35   53000
33   30   87000
8    27   89000
    Car
26    0
86    0
2     0
55    0
75    0
93    0
16    0
73    0
54    0
95    0
53    0
92    0
78    0
13    0
7     0
30    0
22    0
24    0
33    0
8     0

In [6]:
from sklearn.naive_bayes import GaussianNB
classi= GaussianNB()
classi.fit(x_train, y_train)

/home/vivek/.local/lib/python3.9/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

GaussianNB()

In [7]:
classi.predict(x_test)

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [8]:
classi.score(x_test, y_test)

0.95