In [1]:
import pandas as pd

In [4]:
df=pd.read_csv("job.csv")
df.head(10)

   Years  result
0     22       0
1     25       0
2     47       1
3     52       0
4     46       1
5     56       1
6     55       0
7     60       1
8     62       1
9     61       1

In [6]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(df[['Years']],df.result, train_size=0.8,random_state=10)

In [8]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

In [10]:
model.fit(x_train, y_train)

LogisticRegression()

In [13]:
y_predicted = model.predict(x_test)
y_predicted

array([1, 1, 0, 0, 0, 0])

In [14]:
model.score(x_test, y_test)

1.0