In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('age1.csv')
df.head()

   Age  Income
0   20   10000
1   30   15000
2   80   50000
3   50   30000
4   10    5000

In [3]:
x=df[['Age']]
y=df[['Income']]
df

   Age  Income
0   20   10000
1   30   15000
2   80   50000
3   50   30000
4   10    5000
5   45   25000
6   30   20000
7   55   35000
8   60   40000
9   70   45000

In [4]:
from sklearn.tree import DecisionTreeRegressor
reg=DecisionTreeRegressor()

In [5]:
reg.fit(x,y)

DecisionTreeRegressor()

In [8]:
reg.predict([[70]])

array([45000.])

In [9]:
## second method
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y, test_size=0.20, random_state=0)

In [12]:
from sklearn.tree import DecisionTreeRegressor
regr=DecisionTreeRegressor()
regr.fit(x_train, y_train)

DecisionTreeRegressor()

In [13]:
regr.predict(x_test)

array([45000., 35000.])