In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('Bike.csv')
df.head(10)

   Age  Income  Bike
0   35   73000     0
1   28   37000     0
2   27   88000     0
3   28   59000     0
4   32   86000     0
5   33  149000     1
6   19   21000     0
7   21   72000     0
8   26   35000     0
9   27   89000     0

In [3]:
x=df[['Age', 'Income']]
y=df[['Bike']]
df

     Age  Income  Bike
0     35   73000     0
1     28   37000     0
2     27   88000     0
3     28   59000     0
4     32   86000     0
..   ...     ...   ...
97    34   43000     0
98    30   79000     0
99    20   36000     0
100   26   80000     0
101   35   22000     0

[102 rows x 3 columns]

In [5]:
from sklearn.model_selection import train_test_split
x_train, x_test,y_train, y_test=train_test_split(x,y, test_size=0.2, random_state=0)

In [7]:
from sklearn.ensemble import RandomForestClassifier
classi= RandomForestClassifier()
classi.fit(x_train, y_train)

<ipython-input-7-76b604bfbdb9>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  classi.fit(x_train, y_train)

RandomForestClassifier()

In [8]:
classi.predict(x_test)

array([0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0])

In [9]:
classi.score(x_test, y_test)

0.9523809523809523